@import "../animations.scss";
@import "../buttons.scss";

.recentCustomers {
  animation-name: slideInFromLeft, fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  max-width: 650px;
  margin: 60px 100px;

  .cardHeader {
    min-width: 650px;
    h2 {
      font-size: 2.2rem;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }
  }

  .add-btn {
    @extend .all-btn;
    margin-bottom: 10px;
    padding: 10px;
  }

  .update-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;

    .uname-label {
      font-size: 1rem;
      font-weight: 500;
      margin-right: 10px;
    }

    .uname {
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid gray;
    }

    p {
      color: red;
      font-size: 0.7rem;
    }

    .done-btn {
      @extend .add-btn;
      padding: 10px;
      margin-top: 10px;
    }
  }

  table {
    width: 100%;
    tr {
      background-color: white;

      td {
        padding: 12px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.2em;

          span {
            font-size: 0.9rem;
            color: gray;
          }
        }

        .btns {
          display: flex;
          min-width: 100px;
          justify-content: space-evenly;

          .edit-btn {
            @extend .add-btn;
            background-color: rgb(252, 252, 80);
            color: black;
            padding: 15px;
            margin: 0;
          }

          .delete-btn {
            @extend .add-btn;
            background-color: rgb(250, 35, 35);
            padding: 15px;
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .recentCustomers {
    margin: 75px;
    .cardHeader {
      min-width: 400px;
      h2 {
        font-size: 1.9rem;
        line-height: 50px;
      }
    }

    table {
      tr {
        td {
          h4 {
            font-size: 0.9rem;

            span {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .recentCustomers {
    margin: 60px;

    .cardHeader {
      min-width: 200px;
      h2 {
        font-size: 1.5rem;
        line-height: 40px;
      }
    }

    table {
      tr {
        td {
          .btns {
            min-width: 0;
            .edit-btn {
              padding: 10px;
              margin-right: 5px;
            }

            .delete-btn {
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .recentCustomers {
    .update-item {
      .uname {
        max-width: 150px;
      }
    }
    .cardHeader {
      min-width: 0;
      h2 {
        font-size: 1rem;
        line-height: 30px;
      }
    }

    .update-item {
      flex-direction: column;
      align-items: flex-start;

      .done-btn {
        margin-top: 10px;
      }
    }

    table {
      tr {
        td {
          h4 {
            font-size: 0.9rem;

            span {
              font-size: 0.8rem;
            }
          }
          .btns {
            min-width: 0;
            .edit-btn {
              padding: 5px;
            }

            .delete-btn {
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
