<div class="recentCustomers">
  <div class="cardHeader">
    <h2>Customer List</h2>
  </div>
  <button class="add-btn" (click)="addNewItem()">Add New Customer</button>
  <div *ngIf="showForm" class="container">
    <form class="update-item" [formGroup]="angForm2" (ngSubmit)="updateInfo()">
      <input type="number" formControlName="id" name="userId" hidden />
      <div>
        <label class="uname-label">Username:</label>
        <input class="uname" formControlName="username" type="text" />
      </div>
      <button class="done-btn">Submit</button>
    </form>
  </div>
  <table>
    <tr *ngFor="let user of users; let i = index">
      <td>
        <h4>
          {{ user.username }}<br /><span>Role: {{ user.role }}</span>
        </h4>
        <div class="btns">
          <button class="edit-btn" (click)="editItem(user)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="delete-btn" (click)="deleteItem(user)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
