@import "../animations.scss";
@import "../buttons.scss";

.container {
  animation-name: slideInFromLeft, fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  width: fit-content;
  padding: 30px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 10px;
  background-color: white;

  .login-form {
    display: flex;
    flex-direction: column;

    .uname-label {
      font-size: 1rem;
      font-weight: 500;
      margin-right: 10px;
    }

    .uname {
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid gray;
    }

    span {
      color: red;
      font-size: 0.8rem;
    }

    .login-btn {
      @extend .all-btn;
      margin-top: 20px;
      padding: 10px;
    }
  }
}
